@import "tailwindcss";
body{
    margin: 0px;
    padding: 0px;
}
/* .navbar{
    height: 60px;
    background-color: rgba(128, 128, 128, 0.808);
    padding-top: 5px;
}
.navbar li{
    display: inline-block;
}
 .nav{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 3px 7px;
}
.navbar nav ul li .nav:hover{
    background-color: #fff;
    color: rgb(210, 99, 99);
} */
